<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= __("landingPageTitle") %></title>
    <% if(req.query.design == "light"){ %>
    <%- include('design/light') %>
    <% }else{ %>
    <%- include('design/dark') %>
    <% } %>
</head>

<body>
    <%- include('navbar', { current: 2 }); %>
    <br>
    <div class="container">
        <ul class="nav nav-tabs nav-fill">
            <li class="nav-item">
                <a class="nav-link active" data-toggle="tab" href="#enrollments">Your enrollments</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#events">Your events</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#create">Create event</a>
            </li>
        </ul>
        <div id="myTabContent" class="tab-content">
            <div class="tab-pane fade active show" id="enrollments">
                <%- include('your_enrollments'); %>
            </div>
            <div class="tab-pane fade" id="events">
                <%- include('your_events'); %>
            </div>
            <div class="tab-pane fade" id="create">
                <%- include("create_event") %>
            </div>
        </div>
    </div>
</body>

</html>