<!DOCTYPE html>
<html>
    <head>
        <%- include('header', {req, title:  __("dashboardPageTitle"), cookies: req.session}) %>
    </head>

<body>
    <%- include('navbar', { current: 2 }); %>
    <br>
    <div class="container">
        <ul class="nav nav-tabs nav-fill">
            <li class="nav-item">
                <a class="nav-link active" data-toggle="tab" href="#enrollments">Your enrollments</a>
            </li>
            <% if(req.user.host == 1) { %>
            <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#events">Your events</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#create">Create event</a>
            </li>
            <% } %>
        </ul>
        <div id="myTabContent" class="tab-content">
            <div class="tab-pane fade active show" id="enrollments">
                <%- include('your_enrollments', { events }); %>
            </div>
            <div class="tab-pane fade" id="events">
                <%- include('your_events'); %>
            </div>
            <div class="tab-pane fade" id="create">
                <%- include("create_event", { hosts, req }) %>
            </div>
        </div>
    </div>
</body>

</html>