<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= __("landingPageTitle") %></title>
    <% if(req.query.design == "light"){ %>
        <%- include('design/light') %>
    <% }else{ %>
        <%- include('design/dark') %>
    <% } %>
</head>
<body>
    <%- include('navbar', { current: 2 }); %>
    <script>
        console.log(JSON.parse("<%= JSON.stringify(req.query) %>"))
    </script>
</body>
</html>