<!DOCTYPE html>
<html>
<head>
    <%- include('header', {req, title: event.title}) %>
</head>
<body>
    <%- include('navbar', { current: 0 }); %>
    <br>
    <div class="container">
        <div class="row">
            <div class="card mb-3 mx-auto">
                <h3 class="card-header"><%= event.title %></h3>
                <img src="<%= event.imageUrl %>">
                <div class="card-body">
                    <p class="card-text"><%= event.description %></p>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item"><%= __("supervisors"); %> <%= event.hosts.map(h => h.displayName).join(", ") %></li>
                    <li class="list-group-item"><%= __("space_used").replace("{x}", event.dates[0].attendees.length).replace("{y}", event.maximumAttendees) %></li>
                    <li class="list-group-item"><%= __("dates") %>:<br />
                        <ul>
                            <% for(const d of event.dates){ %>
                                <li><%= (new Date(d.start * 1000)).toLocaleString(locale) %> -> <%= (new Date(d.end * 1000)).toLocaleString(locale) %></li>
                            <% } %>
                        </ul>
                    </li>
                </ul>
                <% if(req.user && event.dates[0].attendees.length < event.maximumAttendees && !event.dates[0].attendees.some(att => att.account.id == req.user.id)){ %>
                <div class="card-body mx-auto">
                    <form method="post" action="/events/<%= event.id %>/signup">
                        <button type="submit" class="btn btn-success"><%= __("signupEvent") %></button>
                    </form>
                </div>
                <% } %>
                </div>
        </div>
    </div>
</body>
</html>