<div class="container">
    <% let chunk = 3 %> 
    <% for( let i = 0; i < cards.length; i+=chunk) { %>
        <div class="row">
        <% let cardChunk = cards.slice(i, i+chunk) %>
        <% for( let index = 0; index < cardChunk.length; index++ ) { %>
            <div class="col-md">
                <div class="card mb-3 clickable mx-auto" onclick="window.location = './events/<%= cardChunk[index].id %>';">
                    <img class="card-img-top" src="<%= cardChunk[index].imageUrl %>">
                    <div class="card-body">
                        <p class="card-text">
                            <span class="font-weight-bold"><%= cardChunk[index].title %></span>
                            <span class="font-weight-light"><%= __("time_on") %> <%= (new Date(cardChunk[index].firstTimestamp * 1000)).toLocaleString(locale); %></span>
                        </p>
                    </div>
                </div>
            </div>
        <% } %>
        </div>
    <% } %>
</div>