<%
if(typeof current == "undefined"){var current = 1;}
%>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="#"><%= __('siteTitle') %></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor02" aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarColor02">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item <%= current == 1 ? 'active' : ''; %>">
          <a class="nav-link" href="/"><%= __('navbarHome') %>
          </a>
        </li>
        <% if(req.user){ %>
        <li class="nav-item <%= current == 2 ? 'active' : ''; %>">
          <a class="nav-link" href="/dashboard"><%= __('navbarDashboard') %>
          </a>
        </li>
        <% } %>
      <noscript>
        <h1>This website doesnt work without Javascript.</h1>
      </noscript>
      </ul>
      <% if(typeof withoutSignIn === "undefined"){ %>
        <% if(req.user !== undefined) { %>
          <span style="margin-right: 10px;"><%= __("hello") %> <%= req.user.displayName %></span>
          <form action="/auth/logout" method="post">
            <button type="submit" style="display: inline; width: auto;" class="btn btn-info form-control"><%= __("signOut") %></button>
          </form>
        <% }else{ %>        
          <form action="/auth" method="post">
            <input required style="display: inline; width: auto;" class="form-control" type="text" name="username" placeholder="<%= __("username") %>">
            <input required style="display: inline; width: auto;" class="form-control"  type="password" name="password" placeholder="<%= __("password") %>">
            <button type="submit" id="signinbtn" style="display: inline; width: auto;" class="btn btn-info form-control"><%= __("signIn") %></button>
          </form>
          <% if(typeof loginFailed !== 'undefined' && loginFailed){ %>
            <script>
              window.onload = function(){
                document.querySelector('#signinbtn').classList.remove("btn-info");
                document.querySelector('#signinbtn').classList.add('btn-danger');
                setTimeout(() => {
                  document.querySelector('#signinbtn').classList.add("btn-info");
                document.querySelector('#signinbtn').classList.remove('btn-danger');
                }, 1000)
              }
            </script>
          <% } %>
        <% } %>
      <% } %>
    </div>
  </nav>
