<div class="accordion" id="accordion">
    <% for(const ev of events.filter(ev => ev.hosts.some(h => h.id == req.user.id))){ %>
        <div class="card">
            <div class="card-header" id="headingEv<%= ev.id %>">
                <h5 class="mb-0">
                    <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#enrollmentCollapseEv<%= ev.id %>"
                        aria-expanded="true" aria-controls="CollapseEv<%= ev.id %>">
                        <%= ev.title %>
                    </button>
                </h5>
            </div>
            <div id="enrollmentCollapseEv<%= ev.id %>" class="collapse" aria-labelledby="headingEv<%= ev.id %>" data-parent="#accordion">
                <div class="card-body">
                    <strong><%= __("supervisors"); %> </strong><%= ev.hosts.map(h => h.displayName).join(", ") %><br />
                    <strong><%= __("dates") %>:</strong><br />
                    <script>
                        function changePresence(attId, presence){
                            $.ajax({
                            type: 'POST',
                            url: `/events/attendees/${attId}`,
                            data: {presence}});
                        }
                        
                    </script>
                    <% for(const d of ev.dates){ %>
                        <details>
                            <summary><%= (new Date(d.start * 1000)).toLocaleString(locale) %> -> <%= (new Date(d.end * 1000)).toLocaleString(locale) %></summary>
                            <% for(att of d.attendees){ %>
                                <input <%= att.presence === 1 ? "checked" : "" %> type="checkbox" onclick="changePresence(<%= att.id %>, this.checked ? 1 : 0)"> <%= att.account.displayName %><br />
                            <% } %>
                        </details>
                    <% } %>
                    <p><strong><%= __("description") %>: </strong><%= ev.description %></p>
                    <form method="post" action="/events/<%= ev.id %>/notes" id="notesForm<%= ev.id %>">
                        <label for="taAttendeeNotes<%= ev.id %>"><strong><%= __("attendeeNotes") %></strong></label><br/>
                        <textarea class="w-100" name="note" form="notesForm<%= ev.id %>"><%= ev.attendeeNotes %></textarea>
                        <button type="submit" class="btn btn-success"><%= __("save") %></button>
                    </form><br />
                    <div class="card-footer bg-transparent border-success">
                        <form method="post" action="/events/<%= ev.id %>/delete">
                            <button type="submit" class="btn btn-danger"><%= __("del_event") %></button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    <% } %>
</div>