<div class="accordion" id="accordion">
    <% for(const ev of events.filter(ev => ev.dates.some(d => d.attendees.some(a => a.account.id == req.user.id)))){ %>
        <div class="card">
            <div class="card-header" id="headingEn<%= ev.id %>">
                <h5 class="mb-0">
                    <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#enrollmentCollapseEn<%= ev.id %>"
                        aria-expanded="true" aria-controls="CollapseEn<%= ev.id %>">
                        <%= ev.title %>
                    </button>
                </h5>
            </div>
            <div id="enrollmentCollapseEn<%= ev.id %>" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
                <div class="card-body">
                    <strong><%= __("supervisors"); %> </strong><%= ev.hosts.map(h => h.displayName).join(", ") %><br />
                    <strong><%= __("dates") %>:</strong><br />
                    <ul>
                        <% for(const d of ev.dates){ %>
                            <li><%= (new Date(d.start * 1000)).toLocaleString(locale) %> -> <%= (new Date(d.end * 1000)).toLocaleString(locale) %> <%= d.attendees.filter(at => at.account.id == req.user.id)[0].presence == 1 ? '✅' : '❌' %></li>
                        <% } %>
                    </ul>
                    <p><strong><%= __("description") %>: </strong><%= ev.description %></p>
                    <% if(ev.attendeeNotes != ''){ %>
                        <p><strong><%= __("attendeeNotes") %>: </strong><%= ev.attendeeNotes %></p>
                    <% } %>
                </div>
            </div>
        </div>
    <% } %>
</div>